<<<<<<< HEAD
.page__header {
    margin: 45px 0 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .page__header {
        margin: 28px 0 0;
    }
=======
.page__header {
    margin: 45px 0 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .page__header {
        margin: 28px 0 0;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}