<<<<<<< HEAD
.header {
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:768px) {
    .header {
        min-height: 56px;
    }
=======
.header {
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:768px) {
    .header {
        min-height: 56px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}