<<<<<<< HEAD
.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
=======
.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}