.popup__close {
    background-image: url(../../../images/popup__close.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    background-color: transparent;
    align-self: flex-end;
    margin-bottom: 8px;
    cursor: pointer;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-bottom: 16px;
    }
}