<<<<<<< HEAD
.content__section {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

@media screen and (max-width:768px) {
    .content__section {
        padding: 0 19px;
    }
=======
.content__section {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

@media screen and (max-width:768px) {
    .content__section {
        padding: 0 19px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}