.profile__info {
    min-width: 340px;
    margin-top: 32px;
    margin-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (max-width:768px) {
    .profile__info {
        max-width:282px;
        min-height: 54px;
        margin-top: 3px;
        margin-bottom: 32px;
    }
}