<<<<<<< HEAD
.footer {
    max-width: 318px;
    min-height: 18px;
}

@media screen and (max-width:768px) {
    .footer {
        max-width: 282px;
        min-height: 14px;
    }
=======
.footer {
    max-width: 318px;
    min-height: 18px;
}

@media screen and (max-width:768px) {
    .footer {
        max-width: 282px;
        min-height: 14px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}