<<<<<<< HEAD
.popup__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 45px 0;
    padding: 0;
    max-width: 358px;
}

@media screen and (max-width:768px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin: 0 0 70px 0;
    }
=======
.popup__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 45px 0;
    padding: 0;
    max-width: 358px;
}

@media screen and (max-width:768px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin-bottom: 75px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}