<<<<<<< HEAD
.page__footer {
    margin: 0 0 56px;
}

@media screen and (max-width:768px) {
    .page__footer {
        margin: 0 19px 32px;
    }
=======
.page__footer {
    margin: 0 0 56px;
}

@media screen and (max-width:768px) {
    .page__footer {
        margin: 0 19px 32px;
    }
>>>>>>> 7318833f170e2f211534d415f8f86080b3515677
}